.table-body{
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-position{
    text-align: left !important;
}
.link{
    text-decoration: none;
    color: #383838;
}